<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Encoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Encoder.Properties.Settings>
            <setting name="encodingToRead" serializeAs="String">
                <value>iso-8859-7</value>
            </setting>
            <setting name="encodingToWrite" serializeAs="String">
                <value>unicode</value>
            </setting>
            <setting name="extensionToSearch" serializeAs="String">
                <value>.srt</value>
            </setting>
            <setting name="goInFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoClose" serializeAs="String">
                <value>True</value>
            </setting>
        </Encoder.Properties.Settings>
    </userSettings>
</configuration>